@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Darker+Grotesque:wght@300;400;500;700;800;900&display=swap');

.annie {
    font-family: 'Annie Use Your Telescope', cursive;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}